@import url('./reset.scss');
@import url('./themes/normal.scss');
@import url('./themes/dark.scss');
@import url('./variables/global.scss');

.App {
    font: var(--font-m);

    background-color: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.page-wrapper {
    display: flex;
}

.page-content {
    flex-grow: 1;
}