@import url("./reset.scss");
@import url("./themes/normal.scss");
@import url("./themes/dark.scss");
@import url("./themes/purple.scss");
@import url("./variables/global.scss");

body {
	font: var(--font-m);
	background-color: var(--bg-color);
	color: var(--primary-color);
	transition: background-color .4s;
}

.App {
	height: 100vh;
	min-height: 100vh;
}

.page-wrapper {
	display: flex;
}

.page-content {
	height: var(--page-height);
	overflow-y: auto;
	width: 100%;
	flex-grow: 1;
	padding: 20px 20px 20px 40px;
}
