@import "./reset";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/purple";
@import "./variables/global";

* {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent-redesigned);
	border-radius: 38px;
}

::-webkit-scrollbar-track {
	background-color: var(--light-bg-redesigned);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.App ::-webkit-scrollbar-thumb {
	background-color: var(--block-primary-lighter);
	border-radius: var(--border-radius);
}

.App ::-webkit-scrollbar-track {
	background-color: var(--background-color);
}

.App ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.App {
	font: var(--font-m);
	background: linear-gradient(to top, var(--bg-color), var(--second-bg-gradient-color));
	color: var(--primary-color);
	transition: background-color .4s;
	min-height: 100vh;
	*:focus,
	*::after:focus,
	*::before:focus{
		outline: none;
		box-shadow: var(--focus-shadow);
	}
}

.App-redesign {
	font: var(--font-m-redesigned);
	background: var(--bg-redesigned);
	color: var(--text-redesigned);
	transition: background-color .4s;
	min-height: 100vh;
	*:focus,
	*::after:focus,
	*::before:focus{
		outline: none;
		box-shadow: none;
	}
}

.content-wrapper {
	display: flex;
}

.modal-open {
	overflow: hidden;
}

/* COLORS */

.primary-color {
	color: var(--primary-color);
}

.secondary-color {
	color: var(--secondary-color);
}

.light-color {
	color: var(--light-color);
}

.dark-color {
	color: var(--dark-color);
}

.red-color {
	color: var(--red-color);
}

.light-red-color {
	color: var(--red-color-lighter);
}
