.LoginForm {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.input,
.btn {
	padding: 8px 16px;
}

.loginLinks {
	font-size: var(--font-size-s);
}

.toggleButton {
	padding: 0 16px;
}
