.AppTextArea {
	box-sizing: border-box;
	width: 100%;
	min-height: 50px;
	padding: 0;
	outline: none;
	border: none;
	resize: none;
	&:hover,
	&:focus {
		border-color: var(--accent-redesigned);
		outline: none;
	}
}

.primary {
	background: none;
}
