.Select {
	display: flex;
	align-items: center;
	padding-top: 6px;
	padding-bottom: 8px;
}

.selectItem {
	margin-left: 10px;
	display: block;
	padding: 8px;
	border-radius: var(--border-radius);
	border: 1px solid #ccc;
	background-color: var(--light-color);
	font-size: 14px;
	font-weight: 400;
}
