.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    min-width: 150px;
    max-width: 300px;
    z-index: var(--absolute-content-z-index);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
}
