.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;
    z-index: var(--absolute-content-z-index);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    text-align: start;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
    white-space: nowrap;
}

.disabled {
    color: var(--hint-redesigned);
    background-color: var(--light-bg-redesigned);
}

.divider {
    height: 1px;
    background-color: var(--light-bg-redesigned);
}

