.Sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	flex-shrink: 0;
	padding: 30px 28px;
	background-color: var(--block-primary-lighter);
	position: relative;
	transition: width .2s linear, background-color .2s;
	.buttonGroup {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
	.themeToggler {
		padding: 2px 5px;
		fill: var(--block-secondary-color);
	}
	.languageToggler {
		padding: 2px 5px;
		color: var(--secondary-color);
	}
	.menu {
		color: var(--light-color);
	}
	.toggler {
		color: var(--block-secondary-color);
		background-color: var(--block-primary-lighter);
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		position: absolute;
		right: -32px;
		bottom: 20px;
	}
	&.collapsed {
		width: var(--sidebar-width-collapsed);
		padding: 30px 5px;
		.menu {
			.item {
				span {
					opacity: 0;
					width: 0;
				}
			}
		}
	}
}
