.Sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-weight);
	padding: 30px 28px;
	background-color: var(--block-primary-lighter);
	position: relative;
	transition: width .2s linear;
	.buttonGroup {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
	.themeToggler {
		padding: .25rem 1rem;
		fill: var(--block-secondary-color);
	}
	.languageToggler {
		color: var(--secondary-color);
	}
	.menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: var(--light-color);
	}
	.toggler {
		background-color: var(--block-primary-lighter);
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		position: absolute;
		right: -33px;
		bottom: 20px;
	}
	&.collapsed {
		width: var(--sidebar-weight-collapsed);
		.menu {
			.item {
				span {
					opacity: 0;
					width: 0;
				}
			}
		}
		.buttonGroup {
			flex-direction: column;
			justify-content: center;
		}
	}
}
