/* stylelint-disable no-duplicate-selectors */

.grid {
	&.ArticleListDeprecated {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
		gap: 15px;
	}
}

.list {
	&.ArticleListDeprecated {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}

.oneLine {
	&.ArticleList,
	&.ArticleListDeprecated {
		overflow-x: auto;
		grid-auto-flow: column;
	}
	&.ArticleListDeprecated {
		padding-bottom: 8px;
	}
}


.grid {
	&.ArticleList {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 24px;
	}
}

.list {
	&.ArticleList {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}
