.grid {
	&.ArticleListItem {
		width: 230px;
		opacity: 1;
		transition: opacity .2s;
	}
	.imgWrapper {
		display: block;
		cursor: pointer;
		height: 200px;
		width: 200px;
		position: relative;
	}

	.img {
		height: 100%;
		width: 100%;
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		object-fit: cover;
		object-position: center;
	}

	.date {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: .9;
	}

	&:hover {
		opacity: .95;
		.date {
			display: block;
		}
	}

	.infoWrapper {
		display: flex;
		justify-content: space-between;
	}

	.types {
		p {
			width: 100px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.title {
		cursor: pointer;
		p {
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.link:hover {
		box-shadow: none;
	}
}

.list {
	.header {
		display: flex;
		justify-content: space-between;
	}

	.userInfo {
		display: flex;
	}

	.avatar {
		margin-right: 10px;
	}

	.title {
		margin-top: 10px;
	}

	.img {
		display: block;
		height: 200px;
		margin-top: 20px;
		width: 100%;
		object-fit: cover;
	}

	.textContent {
		max-height: 190px;
		text-overflow: ellipsis;
		overflow-y: hidden;
	}

	.footer {
		display: flex;
		justify-content: space-between;
	}

	.link:hover {
		box-shadow: none;
	}
}

.viewWrapper {
	display: flex;
}

.views {
	margin-right: 5px;
}
