.Tabs {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	.active {
		background: var(--primary-right-gradient);
	}
}

.tab {
	white-space: nowrap;
	padding: 4px 12px;
	text-transform: capitalize;
}

.primary {
	color: var(--primary-color);
}

.secondary {
	color: var(--secondary-color);
}
