.ArticleTextBlock {
	margin-bottom: 30px;
}

.paragraph {
	p:first-of-type {
		&::first-letter {
			margin-left: 30px;
		}
	}
}

.title {
	margin: 20px 0;
}

// .paragraph {
// 	p:first-of-type {
// 		&::first-letter {
// 			margin-left: 10px;
// 		}
// 	}
// 	&.first {
// 		p:first-of-type {
// 			&::first-letter {
// 				margin-left: 30px;
// 			}
// 		}
// 	}
// }
