/* SIZE */

.size-s {
	.title {
		font: var(--font-m);
		font-weight: 700;
	}
	.content {
		font: var(--font-s);
	}
}

.size-m {
	.title {
		font: var(--font-l);
		font-weight: 700;
	}
	.content {
		font: var(--font-m);
	}
}

.size-l {
	.title {
		font: var(--font-xl);
		font-weight: 700;
	}
	.content {
		font: var(--font-l);
	}
}

.size-xl {
	.title {
		font: var(--font-xxl);
		font-weight: 700;
	}
	.content {
		font: var(--font-xl);
	}
}

/* VARIANT */

.error {
	.title {
		color: var(--red-color);
		font-weight: 700;
	}
	.content {
		color: var(--red-color-lighter);
	}
}

/* ALIGN */

.start {
	text-align: start;
}

.end {
	text-align: end;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

/* FONT-WEIGHT */

.thick {
	.title {
		font-weight: var(--thick-weight);
	}
	.content {
		font-weight: var(--thick-weight);
	}
}

.normal {
	.title {
		font-weight: var(--normal-weight);
	}
	.content {
		font-weight: var(--normal-weight);
	}
}

.bold {
	.title {
		font-weight: var(--bold-weight);
	}
	.content {
		font-weight: var(--bold-weight);
	}
}

.bolder {
	.title {
		font-weight: var(--bolder-weight);
	}
	.content {
		font-weight: var(--bolder-weight);
	}
}

/* STYLE */

.italic {
	.title {
		font-style: italic;
	}
	.content {
		font-style: italic;
	}
}

/* EXTRA OPTIONS */

.uppercase {
	.title {
		text-transform: uppercase;
	}
	.content {
		text-transform: uppercase;
	}
}

.lowercase {
	.title {
		text-transform: lowercase;
	}
	.content {
		text-transform: lowercase;
	}
}

.nowrap {
	.title {
		white-space: nowrap;
	}
	.content {
		white-space: nowrap;
	}
}
