.size-s {
	.title {
		font: var(--font-m);
		font-weight: 700;
	}
	.content {
		font: var(--font-s);
	}
}

.size-m {
	.title {
		font: var(--font-l);
		font-weight: 700;
	}
	.content {
		font: var(--font-m);
	}
}

.size-l {
	.title {
		font: var(--font-xl);
		font-weight: 700;
	}
	.content {
		font: var(--font-l);
	}
}

.size-xl {
	.title {
		font: var(--font-xxl);
		font-weight: 700;
	}
	.content {
		font: var(--font-xl);
	}
}

.error {
	.title {
		color: var(--red-color);
		font-weight: 700;
	}
	.content {
		color: var(--red-color-lighter);
	}
}

.primary-color {
	color: var(--primary-color);
}

.secondary-color {
	color: var(--secondary-color);
}

.light-color {
	color: var(--light-color);
}

.start {
	text-align: start;
}

.end {
	text-align: end;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}
