body.dark {
	--bg-color: #15202b;
	--primary-color: #ff8c00;
	--secondary-color: #fff;
	--block-primary-color: #333;
	--block-primary-lighter: #555;
	--block-secondary-color: #ff8c00;
	--overlay-bg-color: rgba(121 121 121 / 80%);
	--highlighted-color: rgba(255 255 255 / 10%);

	/* skeleton */
	--skeleton-color: #053a6f;
	--skeleton-shadow: #194775;
}
