.dark {
	--bg-color: #15202b;
	--primary-color: #ff8c00;
	--secondary-color: #eee;
	--block-primary-color: #333;
	--block-primary-lighter: #555;
	--block-secondary-color: #ff8c00;
	--overlay-bg-color: rgba(121 121 121 / 80%);
	--highlighted-color: rgba(255 255 255 / 10%);
	--second-bg-gradient-color: #202f3f;

	/* GRADIENTS */
	--primary-right-gradient: linear-gradient(to right, #333, #353535);
	--sheet-right-gradient: linear-gradient(to right, var(--bg-color), #121e29);

	/* HOVERED COLORS */
	--primary-hovered-color: #ff8c00ee;
	--secondary-hovered-color: #fff;

	/* CARD */
	--sheet-color: #2d3741;

	/* SKELETON */
	--skeleton-color: #053a6f;
	--skeleton-shadow: #194775;

	/* FOCUS */
	--focus-shadow: 0 0 3px 2px rgba(255 255 255 / 80%);

	// REDESIGN

	/* FOCUS */
	--focused-outline: 2px solid var(--text-redesigned);

	/* COLORS */
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;
}
