body.dark {
	--bg-color: #15202b;
	--primary-color: #ff8c00;
	--secondary-color: #fff;
	--block-primary-color: #333;
	--block-primary-lighter: #555;
	--block-secondary-color: #ff8c00;
	--light-color: #eee;
	--overlay-bg-color: rgba(51 51 51 / 80%);
}
