.App.light {
	--bg-color: #eee;
	--primary-color: #ff8c00;
	--secondary-color: #111;
	--block-primary-color: #ff8c00;
	--block-primary-lighter: #ffa333;
	--block-secondary-color: #eee;
	--light-color: #eee;
}
