body.purple {
	--bg-color: #f9ebff;
	--primary-color: #ae12f6;
	--secondary-color: #110219;
	--block-primary-color: #ae12f6;
	--block-primary-lighter: #e3acfc;
	--block-secondary-color: #f9f4fb;
	--light-color: #fff;
	--overlay-bg-color: rgba(17 3 25 / 80%);
	--highlighted-color: rgba(0 0 0 / 10%);

	/* skeleton */
	--skeleton-color: #fff;
	--skeleton-shadow: #e9bcfc;
}
