.AppText {
    &.title {
        color: var(--text-redesigned);
    }

    &.text {
        color: var(--text-redesigned);
    }

    .title {
        color: var(--text-redesigned);
    }

    .text {
        color: var(--text-redesigned);
    }

    &.size_s {
        &.title {
            font: var(--title-s-redesign);
        }

        &.text {
            font: var(--font-s-redesign);
        }
        .title {
            font: var(--title-s-redesign);
        }

        .text {
            font: var(--font-s-redesign);
        }
    }

    &.size_m {
        &.title {
            font: var(--title-m-redesign);
        }

        &.text {
            font: var(--font-m-redesign);
        }
        .title {
            font: var(--title-m-redesign);
        }

        .text {
            font: var(--font-m-redesign);
        }
    }

    &.size_l {
        &.title {
            font: var(--title-l-redesign);
        }

        &.text {
            font: var(--font-l-redesign);
        }
        .title {
            font: var(--title-l-redesign);
        }

        .text {
            font: var(--font-l-redesign);
        }
    }

    &.size_xl {
        &.title {
            font: var(--title-xl-redesign);
        }

        &.text {
            font: var(--font-xl-redesign);
        }
        .title {
            font: var(--title-xl-redesign);
        }

        .text {
            font: var(--font-xl-redesign);
        }
    }

    &.error {
        &.title {
            color: var(--cancel-redesign);
        }

        &.text {
            color: var(--cancel-redesign);
        }
        .title {
            color: var(--cancel-redesign);
        }

        .text {
            color: var(--cancel-redesign);
        }
    }

    &.accent {
        &.title {
            color: var(--accent-redesign);
        }

        &.text {
            color: var(--accent-redesign);
        }
        .title {
            color: var(--accent-redesign);
        }

        .text {
            color: var(--accent-redesign);
        }
    }

    &.normal {
        &.title {
            font-weight: 400;
        }

        &.text {
            font-weight: 400;
        }
        .title {
            font-weight: 400;
        }

        .text {
            font-weight: 400;
        }
    }

    &.bold {
        &.title {
            font-weight: 700;
        }

        &.text {
            font-weight: 700;
        }
        .title {
            font-weight: 700;
        }

        .text {
            font-weight: 700;
        }
    }

    &.bolder {
        &.title {
            font-weight: 900;
        }

        &.text {
            font-weight: 900;
        }
        .title {
            font-weight: 900;
        }

        .text {
            font-weight: 900;
        }
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
