.small {
	height: 16px;
	width: 16px;
}

.medium {
	height: 24px;
	width: 24px;
}

.large {
	height: 32px;
	width: 32px;
}

.primary-color {
	color: var(--primary-color);
	fill: var(--primary-color);
}

.secondary-color {
	color: var(--secondary-color);
	fill: var(--secondary-color);
}

.contrast-color {
	color: var(--block-secondary-color);
	fill: var(--block-secondary-color);
}
