.ArticleCodeBlock {
	color: var(--secondary-color);
	border-radius: var(--border-radius);
}

.code {
	overflow: auto;
	max-width: 100%;
	padding: 10px;
}

.copyBtn {
	background-color: var(--block-primary-lighter);
}
