.ArticleCodeBlock {
	color: var(--secondary-color);
	border-radius: var(--border-radius);
}

.header {
	padding: 5px;
	text-align: end;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	background-color: var(--primary-color);
}

.code {
	overflow: auto;
	max-width: 100%;
	padding: 10px;
}

.copyBtn {
	background-color: var(--block-primary-lighter);
}
