.Navbar {
	display: flex;
	align-items: center;
	height: var(--navbar-height);
	background-color: var(--block-primary-color);
	transition: background-color .2s;
}

.linksGroup {
	margin-left: auto;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	.link {
		color: var(--block-secondary-color);
	}
}

.logo {
	padding-left: 20px;
	color: var(--light-color);
	width: var(--sidebar-width);
}

.login {
	margin-left: auto;
}
