.Modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0000;
	height: 100%;
	width: 100%;
	transition: background-color .2s linear;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	min-width: 300px;
	max-width: 60%;
	padding: 20px;
	background-color: var(--bg-color);
	border-radius: var(--border-radius);
	transform: scale(.5);
	transition: transform .2s linear, opacity .2s linear;
}

.open {
	opacity: 1;
	pointer-events: auto;
	z-index: var(--modal-z-index);
	.content {
		transform: scale(1);
		opacity: 1;
	}
	.overlay {
		background-color: var(--overlay-bg-color);
	}
}

.closed {
	.content {
		transform: scale(.2);
		opacity: .2;
	}
	.overlay {
		background-color: #0000;
	}
}
