.InputWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 48px;
    border: 1px solid var(--icon-redesigned);
    width: 100%;
}

.small {
    height: 32px;
    padding: 0 8px;
}

.normal {
    height: 38px;
    padding: 8px 16px;
}

.addonLeft, .addonRight {
    display: flex;
}

.focused {
    border: 2px solid var(--accent-redesigned);

    .addonLeft svg, .addonRight svg {
        color: var(--accent-redesigned);
    }
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &::placeholder {
        color: var(--hint-redesigned);
    }
}


.readonly {
    opacity: 0.8;
}
