.ErrorPage {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.redesigned {
	background-color: var(--bg-redesigned);
	color: var(--text-redesigned);
}

.mt20 {
	margin-top: 20px;
}

.deprecated {
	background-color: var(--bg-color);
	color: var(--primary-color);
}
