.AppIcon {
	color: var(--icon-redesigned);
	pointer-events: none;
}

.button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.button:hover .AppIcon {
	color: var(--accent-redesigned);
}

.withFocus {
	&:focus-visible {
		outline: 2px solid var(--text-redesigned);
	}
}
