.ProfileCard {
	.highlighted {
		padding-left: 10px;
		background-color: var(--highlighted-color);
	}
}

.editing {
	padding: 10px 20px;
	border: solid 2px var(--skeleton-shadow);
	border-radius: var(--border-radius);
}

.error {
	min-height: 150px;
}

.loading {
	height: 100%;
}

.loading,
.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatarWrapper {
	display: flex;
	justify-content: center;
	order: 2;
	margin-left: 40px;
}

.wrapper {
	display: flex;
	width: 100%;
}

.inner {
	width: 100%;
}

.pb8 {
	padding-bottom: 8px;
}
