.ProfileCard {
	padding: 20px;
	.highlighted {
		background-color: var(--highlighted-color);
	}
}

.editing {
	border: solid 2px var(--primary-color);
}

.loading,
.error {
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatarWrapper {
	display: flex;
	justify-content: center;
	order: 2;
	margin-left: 40px;
}

.wrapper {
	display: flex;
	width: 100%;
}

.inner {
	width: 100%;
}
