.AppLink {
	text-decoration: none;
	color: var(--primary-color);
}

.primary {
	color: var(--primary-color);
}

.inverted {
	color: var(--secondary-color);
}

.underlined {
	text-decoration: underline;
}
