.AppLink {
	text-decoration: none;
	box-shadow: 0 0 0 0 var(--overlay-bg-color);
	border-radius: var(--border-radius);
	transition: color .2s, background-color .2s;
}

.primary {
	color: var(--primary-color);
	padding: .25em 1em;
	&.hover:hover {
		color: var(--primary-hovered-color);
	}
}

.secondary {
	color: var(--secondary-color);
	&.hover:hover {
		color: var(--secondary-hovered-color);
	}
}

.underlined {
	text-decoration: underline;
}

.clear {
	color: inherit;
}

.primary_button,
.custom_button {
	cursor: pointer;
	display: block;
	border: 1px solid #0000;
	color: var(--secondary-color);
	padding: 4px 16px;
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 0 var(--overlay-bg-color);
	transition: color .2s, background-color .2s, box-shadow .2s;
}

.custom_button {
	border: none;
	outline: none;
	background: none;
	&.disabled {
		background: none;
		color: var(--disabled-color);
	}
}

.primary_button {
	background-color: var(--primary-color);
	color: var(--light-color);
	&.hover:hover {
		color: var(--light-hovered-color);
	}
}
