.AppCard {
	border-radius: var(--border-radius);
	padding: 15px;
}

.noPaddings {
	padding: 0;
}

.primary {
	background-color: var(--sheet-color);
}

.light {
	background-color: var(--light-color);
}

.dark {
	background-color: var(--dark-color);
}
